/* Header container styling */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navigation .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.logo img {
    height: 50px;
}

/* Hamburger menu container */
.hamburger-menu {
    position: relative;
    z-index: 101;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    background: linear-gradient(to right, #ff6f61, #f7b42c, #6ee7b7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s;
}

/* Hamburger menu content */
.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 50px;
}

/* Show menu when hamburger is clicked */
#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-icon + .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 20px;
    margin: 10px 0; 
}

/* Navigation links */
.pages {
    display: flex;
}

.pages a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background: linear-gradient(to right, #ff6f61, #f7b42c, #6ee7b7);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition: opacity 0.3s;
}

.pages a:hover {
    opacity: 0.8; 
}
