/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ff93b7;
    color: #fff;
    height: 60px;
}

/* Logo styles */
.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Hamburger Menu styles */
.nav-container {
    position: relative;
}

.checkbox {
    display: none;
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-lines .line {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

/* Menu items */
.menu-items {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #0e2431;
    border-radius: 5px;
    padding: 15px;
    width: 150px;
    text-align: right;
}

.menu-items ul {
    list-style: none;
}

.menu-items li {
    margin: 10px 0;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

/* Checkbox: Checked styles for menu display */
.checkbox:checked + .hamburger-lines + .menu-items {
    display: block;
}

/* Transform the hamburger menu into an 'X' when checked */
.checkbox:checked + .hamburger-lines .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.checkbox:checked + .hamburger-lines .line2 {
    opacity: 0;
}

.checkbox:checked + .hamburger-lines .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}
