* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Change typography here: */
body {
    font-family: 'Poppins', sans-serif;  /* You can replace 'Poppins' with any Google Font */
    background-color: #f5f5f5;
}
