:root {
    /* Custom color palette */
    --background: rgb(255, 249, 240); /* #323B42 */
    --foreground: rgb(0, 0, 0); /* #FCFBF9 */

    --card: rgb(255, 224, 184); /* #D9C7BE */
    --card-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

    --popover: rgb(255, 152, 234); /* #D9C7BE */
    --popover-foreground: rgb(255, 255, 255); /* #323B42 */

    --primary: rgb(255, 147, 183); /* #635B58 */
    --primary-foreground: rgb(0, 0, 0); /* #FCFBF9 */

    --secondary: rgb(255, 213, 221); /* #A59B95 */
    --secondary-foreground: rgb(0, 0, 0); /* #323B42 */

    --muted: rgb(255, 84, 161); /* #8C817B */
    --muted-foreground: rgb(255, 255, 255); /* #FCFBF9 */

    --accent: rgb(255, 92, 47); /* #B5A79F */
    --accent-foreground: rgb(255, 242, 236); /* #635B58 */

    --destructive: rgb(231, 66, 66); /* #3B3634 */
    --destructive-foreground: hsla(50, 25%, 98%, 1); /* #FCFBF9 */

    --border: rgb(249, 255, 236); /* #A59B95 */
    --input: rgb(222, 241, 255); /* #B5A79F */
    --ring: rgb(215, 235, 255); /* #323B42 */

    



    /* Combinations */
    .card {
        background-color: var(--card);
        color: var(--card-foreground);
    }

    .popover {
        background-color: var(--popover);
        color: var(--popover-foreground);
    }

    .primary {
        background-color: var(--primary);
        color: var(--primary-foreground);
    }

    .secondary {
        background-color: var(--secondary);
        color: var(--secondary-foreground);
    }

    .muted {
        background-color: var(--muted);
        color: var(--muted-foreground);
    }

    .accent {
        background-color: var(--accent);
        color: var(--accent-foreground);
    }

    .destructive {
        background-color: var(--destructive);
        color: var(--destructive-foreground);
    }
}


