:root {
    /* Custom color palette */
    --background: rgb(224, 98, 113); /* #323B42 */
    --foreground: rgb(227, 227, 22); /* #FCFBF9 */

    --card: rgb(116, 198, 147); /* #D9C7BE */
    --card-foreground: rgb(9, 109, 208); /* #323B42 */

    --popover: rgb(25, 101, 79); /* #D9C7BE */
    --popover-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

    --primary: rgb(180, 88, 48); /* #635B58 */
    --primary-foreground: hsla(50, 25%, 98%, 1); /* #FCFBF9 */

    --secondary: rgb(163, 157, 224); /* #A59B95 */
    --secondary-foreground: hsla(209, 12%, 22%, 1); /* #323B42 */

    --muted: rgb(10, 92, 30); /* #8C817B */
    --muted-foreground: rgb(202, 202, 83); /* #FCFBF9 */

    --accent: rgb(202, 109, 28); /* #B5A79F */
    --accent-foreground: rgb(225, 178, 158); /* #635B58 */

    --destructive: rgb(226, 21, 213); /* #3B3634 */
    --destructive-foreground: rgb(225, 158, 191); /* #FCFBF9 */

    --border: rgb(190, 90, 205); /* #A59B95 */
    --input: rgb(226, 129, 44); /* #B5A79F */
    --ring: rgb(32, 83, 134); /* #323B42 */


    /* Combinations */
    .card {
        background-color: var(--card);
        color: var(--card-foreground);
    }

    .popover {
        background-color: var(--popover);
        color: var(--popover-foreground);
    }

    .primary {
        background-color: var(--primary);
        color: var(--primary-foreground);
    }

    .secondary {
        background-color: var(--secondary);
        color: var(--secondary-foreground);
    }

    .muted {
        background-color: var(--muted);
        color: var(--muted-foreground);
    }

    .accent {
        background-color: var(--accent);
        color: var(--accent-foreground);
    }

    .destructive {
        background-color: var(--destructive);
        color: var(--destructive-foreground);
    }
}